.center-text {
  text-align: center;
}
.tnr {
  font-family:"Times New Roman",Times,serif;
  
}
img {
  border-radius: 0%;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 6px;
}
head {
      text-color: #800020;
      margin-top: 200px;
      margin-bottom: 100px; 
      font-size: 30px;
    }
.flex-style {
  text-align: center
  font-family:"Times New Roman",Times,serif;
  font-weight: bold;
  font-size: 10px;
}
.my-button {
    background-color: #800020;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 8px;
    display: inline-block;
    
  }

hr.solid {
  margin-bottom: 400px;
  border-top: 3px solid black;
  width: 75%; 
  margin: 0 auto; 
  
}
.body {
      margin-top: 300px;
      margin-bottom: 300px; 
    }


