.center-text {
  text-align: center;
}
.tnr {
  font-family:"Times New Roman",Times,serif;
}
img {
  border-radius: 0%;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 6px;
}
head {
      margin-top: 200px;
      margin-bottom: 40px; 
      font-size: 20px;
    }
.flex-style {
  text-align: center
  font-family:"Times New Roman",Times,serif;
  font-weight: bold;
  font-size: 10px;
}
.button {
    background-color: #800020;
    border: none;
    text-color: white;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 8px;
    display: inline-block;
    
  }

hr.solid {
  margin-bottom: 100px;
  border-top: 3px solid black;
  width: 75%; 
  margin: 0 auto; 
  
}
.body {
      margin-top: 100px;
      margin-bottom: 100px; 
    }
.text {
  text-color: #800020;
}

